h1{
    text-align: center;
    font-size: 35px;
    color: #080808;
    font-weight: bold;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding: 20px;
    margin:auto;
    width: 630px;
}

.gallery-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}